
.answerForm {
    float: left;
}


.fa-star {
   color:#FFD700;
}
.singleReview {
    background: #FDF8F4;
    margin: 0 0 30px 0;
    padding: 20px 20px 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.reviewText {
    margin-left: 20%;
    margin-right: 20%;
}

.reviewName{
    margin-left: 60%;
        font-size: 1.5rem;
    font-weight: bold;
    color: #2793C7;
}
.reviewDate{
        float: right;
        font-size: 0.8rem;
    color: #D6D5D5;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    font-size: 15px;
}

.singleQuestion {
background: #CCFFFF;
    margin: 0 0 20px 0;
    padding: 20px 20px 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.singleAnswer {
background: #ffe6e6;
    margin: 0 0 30px 60px;
    padding: 20px 20px 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /*max-width: 80%;
    float: right;*/
}


.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}



.selected {
    color: yellow;
}


.sidebar {
    border: 1px solid black;
}


.bigSearch{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}
.bigAdd{
    width: 100%;
    height: 100px;
    background-color: lawngreen;
}

.AccessDenied {
    width: 800px;
    height: 800px;
    background-image: url("http://38.media.tumblr.com/c1e057b335c06d1c684c669857e68daf/tumblr_na5sb7TI8E1tx0eb6o1_500.gif");
        background-color: #cccccc;
            background-repeat: no-repeat;

            background-size: 100% 100%;
    border: 1px solid black;

}

.test {
    color: red;
}



.center {
    text-align: center;

}

.hate {
    margin-top: 20px;
    background-color: #ffb3b3;
    height: auto;
     padding-top:10px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
  margin-right: 10px;
}
.love {
        margin-top: 20px;

    background-color: #b3ecff;
    height: auto;
     padding-top:10px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
    margin-left: 10px;

}

.product-box {
  padding-top:10px;
  width: auto;
  max-width: 250px;
  margin-right:5px;
  height:auto;
  padding-bottom: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  font-size:11.5px;
  background: #fff;
}

.triangle-right {
       position: relative;
    padding: 15px 30px;
    margin: 0;
    color: #fff;
    background: #990000;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#990000), to(#ff6666));
    background: -moz-linear-gradient(#990000, #ff3333);
    background: -o-linear-gradient(#990000, #ff3333);
    background: linear-gradient(#990000, #ff3333);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.triangle-right:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-width: 0 20px 50px 0px;
    border-style: solid;
    border-color: transparent #ff6666;
    display: block;
    width: 0;
}

.triangle-love {
       position: relative;
    padding: 15px 30px;
    margin: 0;
    color: #fff;
    background: #00cccc;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00cccc), to(#4dffff));
    background: -moz-linear-gradient(#00cccc, #4dffff);
    background: -o-linear-gradient(#00cccc, #4dffff);
    background: linear-gradient(#00cccc, #4dffff);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.triangle-love:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-width: 0 20px 50px 0px;
    border-style: solid;
    border-color: transparent #99ffff;
    display: block;
    width: 0;
}

.img-wrap {
  text-align:center;
  margin-bottom:10px;
  margin-right: 10%;
    margin-left: 10%;

  width:auto;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
    border: 1px solid #d1d1d1;

}

.product-name {
  border-bottom: 1px solid #d1d1d1;
  height:68px;
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
  font-size: 15px;
  text-align: center;
}

.product-sale-price {
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  font-weight:700;
  color:#60a430;
  height:30px;
  margin-bottom:10px;
  /*text-align: center;*/
  font-size: 30px;
      display:flex;
  flex-wrap:nowrap;
}

.product-sale-price a {
    font-size: 25px;
}
.votes {
      border-top: 1px solid #d1d1d1;

    padding-top: 5px;
    padding-left:25px;
    display: inline-flex;
    height: 20px;
    font-size: 30px;
}
.votes .fa-arrow-circle-down{
    color: red;
}
.votes .fa-arrow-circle-up{
    color: green;
}

.product-likes-and-comments {
    display:flex;
    flex-wrap:nowrap;
    border-top: 1px solid #d1d1d1;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
          margin-right: auto;
}

.avgStars {
    margin-left: 20%;
}




.product-comments {
  /*border-top: 1px solid #d1d1d1;*/
  /*height:40px;
  width:50%;*/
  margin-left: 30%;
  text-align:center;
  border-right:none;
  font-size: 20px;
}

.main {
       display: inline-flex;

}

.jumbotron {
    background-image: url("http://blog.kidville.com/wp-content/uploads/2013/11/Picture14.jpg");
    color: black;
}

/*NavBar STuff*/
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}