.bigSearch{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}
.bigAdd{
    width: 100%;
    height: 100px;
    background-color: lawngreen;
}

.AccessDenied {
    width: 800px;
    height: 800px;
    background-image: url("http://38.media.tumblr.com/c1e057b335c06d1c684c669857e68daf/tumblr_na5sb7TI8E1tx0eb6o1_500.gif");
        background-color: #cccccc;
            background-repeat: no-repeat;

            background-size: 100% 100%;
    border: 1px solid black;

}

.test {
    color: red;
}


.center {
    text-align: center;
    /*color: red;
    margin-right: 30%;*/
}

.hate {
    background-color: #ffb3b3;
    height: auto;
    /*width: auto;*/
}
.love {
    background-color: #b3ecff;
    height: auto;
}

.product-box {
  padding-top:10px;
  width: auto;
  margin-right:25px;
  height:300px;
  border: 1px solid #d1d1d1;
  box-shadow: rgba(0,0,0, 0.0980392) 0px 3px 12px 1px;
  margin-bottom:20px;
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  font-size:11.5px;
  background: #fff;
}


.img-wrap {
  text-align:center;
  margin-bottom:10px;
  width:auto;
 
}

.product-name {
  border-bottom: 1px solid #d1d1d1;
  height:68px;
  padding-left:15px;
  padding-right:15px;
  overflow:hidden;
  font-size: 30px;
  text-align: center;
}

.product-sale-price {
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  font-size:14px;
  font-weight:700;
  color:#60a430;
  height:30px;
  margin-bottom:10px;
  text-align: center;
  font-size: 30px;
}

.votes {
      border-top: 1px solid #d1d1d1;

    padding-top: 5px;
    padding-left:25px;
    display: inline-flex;
    height: 20px;
    font-size: 30px;
}
.votes .fa-arrow-circle-down{
    color: red;
}
.votes .fa-arrow-circle-up{
    color: green;
}

.product-likes-and-comments {
  display:flex;
  flex-wrap:nowrap;
}
.product-comments {
  border-top: 1px solid #d1d1d1;
  height:40px;
  width:50%;
  padding:7px;
  text-align:center;
  border-right:none;
}

.main {
       display: inline-flex;

}