@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/js/Tutorial.jsx")"></script>


<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content">


    </div>



    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/<version tag>/showdown.min.js
"></script>
</body>

