@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ProductCompareDotNet.Models.Category>

<h1>Category List Page</h1>

@foreach (var category in Model)
{
    <h2>@Html.DisplayFor(x => category.CategoryName)</h2>

    @foreach (var product in category.Products)
    {
        <li>@Html.DisplayFor(x => product.ProductName)</li>
        <hr />
    }
}

@using (Html.BeginForm("CreateProduct", "Categories"))
{
    <input name="Name" placeholder="Product Name"/>
    <input hidden name="CatId" placeholder="Category Id" value="@ViewBag.CatId" />
    <input type="submit" value="Add New Product" />
}

@*<form action="/Categories/CreateProduct" method="post">
    <input name="Name" placeholder="Product Name" />
    <input name="UpVotes" placeholder="Upvotes" />
    <input name="DownVotes" placeholder="Downvotes" />
    <input name="CatId" placeholder="Category Id" />
    <input type="submit" value="Add New Product" />
</form>*@

