@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ProductCompareDotNet.Models.Category>


@using (Html.BeginForm("CreateProduct", "Categories"))
{
    <input name="Name" placeholder="Add A New Product" />
        <input hidden name="CatId" placeholder="Category Id" value="@ViewBag.CatId" />
        <input class="btn btn-success" type="submit" value="Submit Product" />
}


@foreach (var category in Model)
{
    <h2>@Html.DisplayFor(x => category.CategoryName)</h2>

    @foreach (var product in category.Products)
    {
        <li>@Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })</li>
        <hr />
    }
}



@*<form action="/Categories/CreateProduct" method="post">
    <input name="Name" placeholder="Product Name" />
    <input name="UpVotes" placeholder="Upvotes" />
    <input name="DownVotes" placeholder="Downvotes" />
    <input name="CatId" placeholder="Category Id" />
    <input type="submit" value="Add New Product" />
</form>*@

