@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<ProductCompareDotNet.Models.Product>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1>Lets Talk About Stuff</h1>
                <form action="/Categories/CreateProduct" method="post">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group input-group-lg">
                            <input name="Name" type="text" class="form-control" placeholder="Thinking About Buying Something?">
                            <input hidden="" name="CatId" placeholder="Category Id" value="1">
                            <input type="submit" value="GOGO" />
                        </div>
                    </div>
                </form>

               <br><br>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10">



    @foreach (var product in Model)
    {

        <div class="container-fluid main content">

            <div class="product-box">
                <div class="img-wrap">
                    <img src="@product.ProductImg">
                </div>

                <div class="product-name">
                    @Html.ActionLink(product.ProductName, "ProductList", "Products", new { id = product.ProductId })
                </div>
                <div class="product-sale-price">
                    $@product.ProductPrice
                    <div class="product-comments" id="shopping-cart-box">
                        @product.Reviews.Count()
                        <a href="/Products/ProductList/@product.ProductId"><i class="fa fa-commenting" aria-hidden="true" style="font-size:47px;position:relative;top:-2px;"></i></a>
                    </div>


                </div>
                <div class="product-likes-and-comments">
                   
                </div>
            </div>
        </div>

    }
</div>
<div class="col-md-2 sidebar">
    <li><a href="~/Categories/PriceSort">Sort By Price</a></li>
    <li><a href="~/Categories/DateSort">Newest First</a></li>
    <li><a href="~/Categories/ReviewSort">Most Reviews</a></li>
    <hr />
    @foreach(var category in ViewBag.Categories)
    {
        string Name = category.CategoryName;
        <p>@Html.ActionLink(Name, "CategorySort", "Categories", new { catId = category.CategoryId })</p>

    }

</div>







