@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductCompareDotNet.Models.ApplicationUser

@using System.Security.Claims

<h2>Authentication with Identity</h2>
<hr />
@if (User.IsSignedIn())
{
    <p>Hello @Model.UserName!</p>

    <p>Tell us a little more about yourself!</p>
    <form>
        <input name="UserName"  placeholder="UserName"/>
        <input name="UserPic" placeholder="PictureURL" />
    </form>
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}