@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ProductCompareDotNet.Models.ApplicationUser

@using System.Security.Claims

<h1 class="textCenter">User Profile Page</h1>
<hr />
@if (User.IsSignedIn())
{
    <h4>Tell us a little more about yourself!</h4>
    <form>
        <input name="UserName"  placeholder="UserName"/>
    </form>
    <br /><hr />
    <h4>Upload an avatar!</h4>
    <form method="post" asp-action="Index" asp-controller="Home" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
}
else
{
    <h2 class="redWarning">Please login/register to access all of our services.</h2>
}