@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ProductCompareDotNet.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}

@*<form action="/Account/Login" method="post">
    <label for="Email">Email</label>
    <input id="Email" name="Email" type="text" value="">
    <label for="Password">Password</label><input id="Password" name="Password" type="password">
    <input type="submit" value="Log in" class="btn btn-default">
</form>*@